{% load static i18n %}
<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
  <div class="container">
    <section class="footer-bottom border-top row">
      <div class="col-md-2">
        <p class="text-muted">&copy; 2019 Company</p>
      </div>
      <div class="col-md-8 text-center">
        <p>{% trans "Contact us at" %} <a href="mailto:info@example.com">info@example.com</a></p>
        <span class="px-2">{% trans '+879-332-9375'%} </span>
        <span class="px-2">{% trans 'Street Name 123'%} </span>
      </div>
      <div class="col-md-2 text-right text-muted">
        <i class="fab fa-lg fa-cc-visa"></i>
        <i class="fab fa-lg fa-cc-paypal"></i>
        <i class="fab fa-lg fa-cc-mastercard"></i>
      </div>
    </section>
  </div>
</footer>
<!-- ========================= FOOTER END ========================= -->

